<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <main>
            <div>

                <h2>Edit</h2>
                <div>
                    <form id="addBookForm" action="/book" method="POST">
                        <input type="text" name="title" placeholder="Enter book name" required>
                        <input type="text" name="author" placeholder="Enter author name" required>
                        <input type="date" name="date" placeholder="Enter the Date of Publication" required>
                        <input type="Category" name="category" placeholder="Enter the Category">
                        <button type="submit">Add Book</button>
                    </form>
                    <form id="deleteBookForm">
                        <input id="deleteBookTitle" type="text" name="title" placeholder="Enter Title of the Book"
                            required>
                        <button type="submit">Delete Book</button>
                    </form>
                </div>

                
                <div>
                    <table class="book-table" align="center">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i < books.length; i++) { %>
                                <tr>
                                    <td><%= books[i].title %></td>
                                    <td><%= books[i].author %></td>
                                    <td><%= books[i].date %></td>
                                    <td><%= books[i].category %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
    



            </div>
            <script src="/Javascripts/AddBook.js"></script>
            <script src="/Javascripts/DeleteBook.js"></script>

        </main>