<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

    <main>
        <div>
            <section class="team">
          
              <!-- ChangJun Kim -->
              <div class="team-member">
                  <img src="/img/ChangJun .png" alt="ChangJun Kim">
                  <h2>ChangJun Kim</h2>
                  <p>ID: 301274950</p>
              </div>
          
              <!-- Karan Handa -->
              <div class="team-member">
                  <img src="/img/Karan .png" alt="Karan Handa">
                  <h2>Karan Handa</h2>
                  <p>ID: 301325347</p>
              </div>
          
              <!-- Mokshika -->
              <div class="team-member">
                  <img src="/img/Mokshika.png" alt="Mokshika">
                  <h2>Mokshika</h2>
                  <p>ID: 301299923</p>
              </div>
          
              <!-- Mursalin Saiyed -->
              <div class="team-member">
                  <img src="/img/Mursalin .png" alt="Mursalin Saiyed">
                  <h2>Mursalin Saiyed</h2>
                  <p>ID: 007</p>
              </div>
          
              <!-- Dhruvil Rangani -->
              <div class="team-member">
                  <img src="/img/Dhruvil .png" alt="Dhruvil Rangani">
                  <h2>Dhruvil Rangani</h2>
                  <p>ID: 301161155</p>
              </div>
          
              <!-- Maganbet Abdymomunov -->
              <div class="team-member">
                  <img src="/img/Maganbet.png" alt="Maganbet Abdymomunov">
                  <h2>Maganbet Abdymomunov</h2>
                  <p>ID: 301253434</p>
              </div>
          
          </section>
          </div>
          
        <div>
            <table class="book-table" align="center">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < books.length; i++) { %>
                        <tr>
                            <td><%= books[i].title %></td>
                            <td><%= books[i].author %></td>
                            <td><%= books[i].date %></td>
                            <td><%= books[i].category %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>



    </div>
    </main>